{% import 'macros.html' as macros %}
<!doctype html>
<head>
  <title> Blog Posts </title>
  {{ macros.stylesheet(home=True) }}
</head>

<body>
  <div class="page">
  {{ macros.create_header(logged_in=logged_in) }}
  {% for post in published %}
    {% if edit_mode %}
      {{ macros.edit_mode(post) }}
    {% endif %}
    <div class="post">
        <div onclick="window.location.href='/post/{{post.small_date}}/{{post.small_name}}'" class='mainimg' style='background-image:url({{post.pic}})'>&nbsp;</div>
        <a href="/post/{{post.small_date}}/{{post.small_name}}" class="title">{{post.title}}</a>
        <div class="snippet">Posted {{post.nice_date}}<br />{{post.snippet}}</div>
    </div>
    <div style='clear:both'/>
  {% endfor %}
    </div>
  {{ macros.add_footer(no_comments=True) }}
</body>
