.header { width: 100%; padding: 15px 0 15px 0; }
@-webkit-keyframes glow { 0%, 100% { box-shadow: 0px 0px 3px 6px rgba(53,110,242,0.4) } 50% { box-shadow: 0px 0px 3px 6px rgba(53,110,242, 0.8); }}
.mainimg { width:120px; height:120px; background-size:200px; background-position:50% 50%; border-radius:60px; position: relative; display:inline-block; vertical-align: middle; margin-right: 30px; display:inline-block; z-index:1}
.mainimg:hover { box-shadow: 0px 0px 3px 6px rgba(53,110,242, 0.6); -webkit-transition-duration:0.2s; -webkit-animation:none}
.glow { -webkit-animation: glow 10s infinite; }
.navmenu > a:hover { -webkit-transition-duration: 0.5s; background-color:rgb(53,110,242); color:#eee}
.title { line-height: 35px; font-size: 35px; font-family: 'Ubuntu', 'sans-serif'; font-weight:bold ;}
.title.home { font-size: 54px; line-height: 54px }
.snippet.home{ font-size: 24px; line-height: 24px }
.file { font-weight: bold }
.underline { border-bottom: 1px solid #999; }
.post .title { font-family:'Arvo'; font-weight:normal}
.header > .snippet { padding: 20px; }
.post > .snippet { position:relative; top:15px; left:30px }
.post > .mainimg { float:left;  }
.post { min-width: 600px; border-bottom: 1px solid #999; padding: 15px 0 15px 0; min-height: 120px }
.navmenu { position: absolute; left: -175px; height: 100%; width: 120px; }
.navmenu.scrunched { left: 10px; top: 10px; height:120px; min-width:400px; }
.navmenu > a { display: inline-block; margin-top:20px; padding: 5px; text-decoration:none; text-align: center; min-width:100px;}
.scrunched > a { min-width: 0; }
.scrunched > .content { margin-top: 120px; }

